html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*///////////////////////////////////paralax*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.container {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.firstSection {
    height: 105vh!important;
}

.navbar-inverse {
    background-color: #080226;
    opacity: 0.8;
    height: 77px;
}

.container section {
    width: 100%;
    height: 115vh;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.container section:nth-child(1) .image {
    background-image: url('../images/header-home-d.jpg');
}

.container section:nth-child(2) .image {
    background-color: #f5f5f5;
}

.container section:nth-child(3) .image {
    background-color: #f5f5f5;

}

.container section:nth-child(4) .image {
    background-color: #f5f5f5;
}

.container section:nth-child(5) .image {
    background-color: #f5f5f5;
}

.container section:nth-child(6) .image {
    background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
}

.container section .image {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
}

.container section .stuff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    max-width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    color: #f5f5f5;
    margin: 0 auto;
    font-size: 26px;
}

.container section .stuff h2 {
    margin: 0px;
}

.container section .stuff:before, .container section .stuff:after {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #f5f5f5;
    content: "";
    margin: 30px 0;
}

.center-cards {
    text-align: -webkit-center;
}

.at-twitter {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #f1c40f;
    z-index: 5000;
}

.at-twitter:visited {
    color: #f1c40f;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
}

.fitIn {
    width: 100%;
}

.wtransnetCard {
    background: #9e0b0f;
    width: 100%;
}

.firstCard {
    background: #080225;
    width: 100%;

}

.card-text {
    font-size: 15px !important;
}

.card-body-custom {
    text-align: left;
    margin: 0px 10px 10px 10px;
}

.marginator {
    margin-left: 10px;
    margin-bottom: 10px;
}

.moreButton {
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.homeOtSol {
    margin-bottom: 15px;
    margin-top: 5px;
}

.third-content-a {
    background-color: #9e0b0f;
    height: 45%;
}

.third-content-b {
    /*background-image: url('../images/wconnecta.jpg');*/
    /*width: 100%;*/
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.wconecta-image {
    background-image: url('../images/wconnecta.jpg');
    background-image: url(../images/wconnecta.jpg);
    height: 100%;
    background-size: cover;
    margin-left: -244px;

}

.stufff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    /* flex-wrap: nowrap; */
    height: 100%;
    /* width: 100%; */
    /* max-width: 70%; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* text-align: center; */
    z-index: 1000;
    /* color: #f5f5f5; */
    /* margin: 0 auto; */
    /* font-size: 26px; */
}

@media all and (min-width: 1000px) {
    .customSection {
        height: 350px !important;
    }

    .third-content-a {
        background-color: #9e0b0f;
        /*width: 66%;*/
        height: 200px;
        border-top-right-radius: 30em;
        border-bottom-right-radius: 30em;
        height: 100%;
        /*position: absolute;*/
    }

    .third-content-b {
        /*background-image: url('../images/wconnecta.jpg');*/
        height: 100%;
        background-size: cover;
        z-index: -1;
    }

}

.col-md-12 > .third-content-a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wc {
    text-align: left;
    margin-top: 56px;
    margin-left: 22%;
    margin-right: 5%;
    color: white;
}

.wabipresent {
    background-image: url('../images/wabi.jpg');
    background-image: url(../images/wabi.jpg);
    height: 500px;
    background-size: cover;
}

.hideMenu{
    height: 77px;    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -77px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}

@media (min-width: 768px){
    .navbar-right {
         float: unset !important;
        /* margin-right: -15px; */
    }
    .navbar-nav {
         float: unset;
        /*margin: 0;*/
    }
}

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}